:root {
  --background: #f0a9e6;
  --foreground: #594347;
  --colorTop: #f5c7dc;
  --colorBottom: #ec84ab;
  --btnColor1: #f8abc7;
  --btnColor2: #f8f2f4;
  --btnColor3: #f0719f;
  --fontColor: #fcfcfc;
  --selectedInsetTop: #9b5a83;
  --selectedInsetBottom: #ac4e71;

  ::-webkit-scrollbar{
    width: 2px;
    height: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--fontColor); 
    border-radius: 2px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0a9e6;
    --foreground: #594347;
    --colorTop: #353535;
    --colorBottom: #1b1b1b;
    --btnColor1: #444444;
    --btnColor2: #6e2767;
    --btnColor3: #161616;
    --selectedInsetTop: #200a22;
    --selectedInsetBottom: #b854af;
    --fontColor: #a557ac;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--fontColor);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: white;
  border: none;
}

input {
  background-color: none !important;
  border: none;
  color: black;
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
