:root {
  --background: #f0a9e6;
  --foreground: #594347;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0a9e6;
    --foreground: #594347;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: white;
  border: none;
}

input {
  background-color: none !important;
  border: none;
  color: black;
  background: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
