.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --colorTop: #f7d2e3;
  --colorBottom: #ec84ab;
  --colorTop1: #ffffff;
  --colorBottom1: #ffffff;
  --btnColor1: #f5b8ce;
  --btnColor2: #fa9fc2;
  --btnColor3: #fa9fc2;
  --fontColor: #da60b5;
  --selectedSizeTop: #3f1f47;
  --selectedSizeBottom: #5b2d66;
  --selectedInsetTop: #af588f;
  --selectedInsetBottom: #f3a5c2;
  --colorComplete: #229713;
  --colorInProcess: #e0850e;
  --fontColorContrast: #ffffff;
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --shadow: 3px 3px 8px var(--selectedInsetTop),
            0px 0px 8px var(--selectedInsetBottom);
  --insetShadow: inset 3px 3px 5px var(--selectedInsetTop),
                 inset 0px 0px 5px var(--selectedInsetBottom);
  --borderRadiusLarge: 1rem;
  --borderRadiusSmall: .5rem;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 0px 40px 80px 40px;
  gap: 1rem;
  font-family: var(--font-geist-sans);
  background: linear-gradient(to top, var(--colorBottom) 0%, var(--colorTop) 100%);
  --backgroundCard: linear-gradient(to top, var(--colorBottom1) 0%, var(--colorTop1) 100%);

   /* width */
  ::-webkit-scrollbar{
    width: 2px;
    height: 2px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--fontColor); 
    border-radius: 2px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --colorTop: #353535;
    --colorBottom: #1b1b1b;
    --btnColor1: #2e2e2e;
    --btnColor2: #64275e;
    --btnColor3: #2c2b2c;
    --selectedInsetTop: #200a22;
    --selectedInsetBottom: #b854af;
    --fontColor: #a557ac;
  }
  .logo {
    filter: invert();
  }
}

.StripeElement {
  width: 100%;
}

.select {
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 0 .75rem;
  border-radius: 5px;
  background-color: var(--btnColor1);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: var(--font-sourGummy);
  box-shadow: var(--shadow);
}

.textArea {
  border-radius: 1rem;
  width: 100%;
  background-color: none !important;
  border: none;
  color: black;
  background: transparent;
  height: 100%;
  min-height: 80px;
  padding: 1rem;
  box-shadow: var(--insetShadow)
}

.drinkImage{
  background-size: contain;
}

.heading{
  font-size: 1.875rem;
  text-align: center;
  flex: 1;
  flex-grow: 0;
  font-family: var(--font-sourGummy);
  padding: 1rem;
  width: 100%;
}

.profileImage{
  height: 18.75rem;
  flex-grow: 0;
}

.stickyContainer{
  display: flex;
  position: sticky;
  top: 0;
  width: 100vw;
  max-height: 100px;
  justify-content: space-between;
  box-shadow: var(--shadow);
  border-radius: 0 0 1rem 1rem;
  padding: 0 40px 0 40px;
  align-items: center;
}

.heroContainer{
  height: 300px;
  background-color: white;
  margin-bottom: 1.5rem;
  border-radius: 0 0 1rem 1rem;
}

.heroContainer>img{
  object-fit: contain;
  height: 100%; 
  /* width: 100vw;  */
  object-fit: none;
  object-position: 50% 25%;
}

.vertContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex: 1;
  width: 100%;
}

.vertContainerInset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 95%;
  box-shadow: var(--insetShadow);
  border-radius: .625rem;
  padding: 1rem;
}

.preview{ 
  max-width: 300px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
}

.searchWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  gap: .625rem;
  width: 30%;
  box-shadow: var(--insetShadow);
  border-radius: var(--borderRadiusSmall);
}

.InventoryHoriz{
  width: 100%;
  padding: .5rem;
  box-shadow: var(--insetShadow);
  border-radius: 5px;
}

.visitorContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: .25rem 1.5rem;
  background-color: rgb(245, 152, 189);
  box-shadow: var(--insetShadow);
  border-radius: .625rem;
  gap: .5rem;
}

.horizContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: var(--insetShadow);
  border-radius: var(--borderRadiusLarge);
  gap: 1rem;
  /* width: 100%; */
  flex: 1;
}

.optionContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .625rem;
  flex-wrap: wrap;
  max-height: 230px;
  padding: .625rem;
  max-width: 95%;
  overflow-y: auto;
  border-radius: .625rem;
  box-shadow: var(--insetShadow);
}

.ingredientList{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: .5rem;
  width: 100%;
  justify-content: flex-start;
}

.ingredientItem{
  display: flex;
  max-width: 250px;
  font-size: .8rem;
  color: var(--fontColorContrast);
}

.orderWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  padding: .5rem 0;
  gap: 1.5rem;
  border-bottom: 2px dashed var(--fontColor);
}

.btns{
  padding: .75rem;
  border-radius: var(--borderRadiusSmall);
  background-color: var(--btnColor1);
  border: none;
  align-items: center;
  cursor: pointer;
  text-align: center;
  flex: 1;
  min-width: 150px;
  max-width: fit-content;
  font-size: 1rem;
  font-family: var(--font-sourGummy);
  box-shadow: var(--shadow);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all .2s linear;
}

.btnsSelected{
  padding: .75rem;
  border-radius: var(--borderRadiusSmall);
  background-color: var(--btnColor2);
  border: none;
  align-items: center;
  cursor: pointer;
  text-align: center;
  min-width: 150px;
  max-width: fit-content;
  font-size: 1rem;
  font-family: var(--font-sourGummy);
  box-shadow: var(--insetShadow);
}

.qtyBtns:hover, .btns:hover{
  box-shadow: var(--insetShadow);
  background-color: var(--btnColor2);
}

.popUpScroll{
  overflow-y: auto;
  height: 100%;
}

.popUp{
  height: 100%;
}

.optionBtns{
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: rgb(245, 152, 189);
  border: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  flex: 1;
  min-width: 45%;
  min-height: 2.75rem;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  transition: all 0.5s ease-in-out;
}

.optionBtnsSelected{
  background-color: rgb(245, 152, 189);
  box-shadow: var(--insetShadow);
  padding: .5rem 1rem;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  flex: 1;
  min-width: 45%;
  min-height: 2.75rem;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnsLabel{
  padding: 0 1rem;
  border-radius: 5px;
  background-color: rgb(245, 152, 189);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.hidden{
display: none;
}

.statusComplete{
  background-color: var(--colorComplete);
  box-shadow: inset 3px 3px 15px rgb(49, 49, 49),
              inset 3px 3px 15px rgb(153, 153, 153);
  color: var(--fontColorContrast);
}
.statusMaking {
  background-color: #f6c343; /* soft yellow */
  color: #000;
  box-shadow: inset 3px 3px 15px rgb(216, 158, 0),
              inset 3px 3px 15px rgb(219, 90, 3);
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--btnColor3);
  z-index: 999;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 3px -3px 10px black;
}

.drinkWrapper img {
  width: 125px;
  height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.drinkContent,
.drinkDetails {
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--fontColorContrast);
}

.drinkDetailsPrice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  color: var(--fontColorContrast);
}


.horizWrapperInset{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .625rem;
  align-items: center;
  width: 100%;
  box-shadow: var(--insetShadow);
  border-radius: .625rem;
  padding: .5rem;
}

.vertWrapperInset{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: .5rem; */
  align-items: center;
  width: 100%;
  box-shadow: var(--insetShadow);
  border-radius: .5rem;
  padding: .75rem;
  overflow-y: auto;
  flex: 1;
  max-height: 250px;
}

.punchCard {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: .625rem;
  padding: 1rem;
  background-color: var(--colorTop);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  justify-content: center;
}

.footer img {
  flex-shrink: 0;
}

.strong {
  font-family: var(--font-quicksand);
  font-size: .8rem;
  width: 100%;
  font-weight: 800;
  text-align: left;
}


.sizeBtns {
  height: 40px;
  width: 40px;
  background-color: rgb(245, 152, 189);
  box-shadow: var(--shadow);
  border: none;
  align-items: center;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;

}
.selectedSize {
  height: 50px;
  width: 50px;
  background-color: rgb(245, 152, 189);
  box-shadow: var(--insetShadow);
  border-radius: 25px;
  border: none;
}

  .qtyContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .qtyBtns {
    display: flex;
    justify-content: center;
    background-color: var(--btnColor1);
    box-shadow: var(--shadow);
    border: none;
    align-items: center;
    border-radius: 50%;
    flex: 1;
    min-width: 2rem;
    min-height: 2rem;
  }

  .qtyInput {
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: white;
  }

.backBtn {
  background-color: var(--btnColor2);
  padding: .625rem;
  position: absolute; 
  top: 1.75rem; 
  left: 1.75rem; 
  border-radius: 2rem;
  z-index: 20;
  border: none;
  color: white;
  cursor: pointer;
}

.ratingWrapper {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1.25rem;
    height: 2.5rem;
    display: flex;
    position: relative;
  }
  
.ratingContainer {
  padding: .625rem;
  align-items: center;
  background-color: var(--btnColor1);
  border-radius: .625rem;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
  top: 0;
  right: 0;
  border: none;
}

.ratingContainerHome {
  align-items: center;
  background-color: var(--btnColor1);
  border-radius: var(--borderRadiusSmall);
  flex-direction: row-reverse;
  justify-content: center;
  position: absolute;
  top: .5rem;
  right: .5rem;
  border: none;
  display: flex;
  gap: .25rem;
  box-shadow: var(--insetShadow);
  padding: 4px;
}
  
.ratingText {
  color: var(--fontColor);
  font-size: 1rem;
  font-weight: bold;
  padding: 4px;
}
  
.hintText {
  color: rgb(0, 0, 0);
  font-size: .625rem;
  font-weight: light;
  font-style: italic;
}



.itemCheckbox {
  width: 1.5em;
  height: 1.5rem;
  border-radius: 3rem;
  color: var(--colorTop);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 90px 0px;
}

.modal {
  background: var(--colorTop);
  width: 100%;
  max-width: 95vw;                     
  max-height: 100%;                     
  overflow-y: auto;                    
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;                           
}

    .inventoryWrapper {
      padding: 1.8rem 0;
      justify-content: center;
      max-height: 180px;
      overflow: hidden;
    }
    .userInput {
      border: none;
      padding: .625rem;
      border-radius: 5px;
      margin-bottom: .625rem;
      background-color: var(--colorTop);
      min-width: 50%;
      flex: 1;
      box-shadow: var(--insetShadow);
      color: var(--fontColor);
      outline: none;
    }

    input:focus {
      outline: none;
    }

    .buttons {
      background-color: rgb(255, 111, 219);
      padding: 10px;
      border-radius: 5px;
      margin-top: 10px;
    }
    .saveText {
      text-align: center;
      font-weight: 300;
      font-size: 1.8rem;
      color: #A134CF;
    }

    .closeButton {
    width: 100%;
    background-color: var(--btnColor1);
    border: none;
    border-radius: 2rem;
    max-width: 2.5;
    max-height: 2.5;
    min-width: 2.5rem;
    min-height: 2.5rem;
    position: relative;
    }

    .imagePickerButton {
      background-color: rgb(255, 111, 219);
      padding: .625rem;
      border-radius: 5px;
      margin-bottom: 10px;
      justify-content: center;
    }
    
    .imagePreview {
      width: 100%;
      height: 150px;
      background-size: contain;
      border-radius: 10px;
      margin-bottom: 10px;
    }

.userContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: .25rem 1.5rem;
  background-color: rgb(245, 152, 189);
  box-shadow: var(--insetShadow);
  border-radius: .625rem;
}


.dealsImage {
  height: auto;
  width: 40%;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: calc(8.5/11);
  flex-grow: 0;
}

.navItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: white;
}

.navText {
  font-size: .875rem;
  margin-top: .25rem;
  font-weight: 500;
  font-family: var(--font-sourGummy);
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12px;
  right: 40%;
  background-color: var(--btnColor2);
  color: white;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  width: 25px;
  height: 25px;
}

.gridContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.extrasContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: .625rem;
  box-sizing: border-box;
  box-shadow: var(--insetShadow);
  border-radius: var(--borderRadiusLarge);
}

.drinkWrapper {
  height: 285px;
  background-color: var(--colorTop);
  box-shadow: var(--shadow);
  border-radius: var(--borderRadiusSmall);
  padding: 1rem;
  flex: 0 0 calc(15% - .75rem);
  min-width: 250px; 
  flex-grow: 0;
  position: relative;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.drinkName {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--font-sourGummy);
  color: var(--fontColor);
  text-align: center;
}

.inventoryWrapper {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  border-bottom: 1px dashed black;
  padding: .625rem 1.875rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: .625rem;
  border-bottom: 1px dashed black;
  padding-bottom: .625rem;
  align-items: center;
  width: 80%;
}

.cartWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
  border-bottom: 1px dashed black;
  padding-bottom: .625rem;
  align-items: center;
  width: 100%;
}

.horizWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .625rem;
  align-items: center;
  width: 100%;
}

.cartDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.itemName {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-sourGummy);
  color: var(--fontColor);
  text-align: center;
}

.itemNameCart {
  font-size: 12px;
  font-weight: bold;
  color: var(--fontColor);
  text-align: left;
}

.itemDetails {
  font-size: 12px;
  color: var(--fontColor);
  font-style: italic;
}

.ingredientsInventory {
  color: white;
  text-align: left;
  font-size: .625rem;
  overflow-y: auto;
}

.ingredients {
  color: white;
  font-family: var(--font-quicksand);
  text-align: center;
  font-size: .875rem;
  margin-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  background-color: rgb(250, 191, 212);
  margin-bottom: 60px;
}

.backgroundImg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  z-index: 60;
  overflow-x: auto;
  overflow-y: hidden;
  height: 4.5rem;
  padding: .5rem 1rem;
}

.categoryButton {
  padding: 0 1.25em;
  border-radius: .25em;
  background-color: rgb(245, 152, 189);
  box-shadow: var(--shadow);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-quicksand);
  white-space: nowrap;
  color: white;
}

.categoryButtonSelected {
  background-color: rgb(245, 152, 189);
  box-shadow: var(--insetShadow);
}

.categoryText {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-family: var(--font-quicksand);
  font-weight: 100;
  text-align: center;
}

.selectedCategoryText {
  font-weight: 400;
  color: rgb(255, 255, 255);
}


.price {
  color: rgb(172, 232, 240);
  text-align: center;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.punchSlot {
  min-width: 50px;
  min-height: 50px;
  background-color: var(--btnColor1);
  border-radius: 50%;
  box-shadow: var(--shadow);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: var(--font-quicksand);
  font-size: 1.25rem;
}

.punched {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-shadow: inset 3px 3px 15px rgb(79, 6, 94),
              inset 3px 3px 15px rgb(26, 26, 26);
  background: #ab52df;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-row-start: 2;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: .5rem;
}


@media (max-width: 600px) {
  .page {
    padding: 0px 10px 80px 10px;
  }

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .btns{
    min-width: 125px;
    font-size: .9rem;
    padding: .5rem;
    flex: 1;
  }

  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: .75rem;                 
    max-width: 100%;             
    margin: 0;                   
  }

  .extrasContainer {
    justify-content: space-evenly;
    padding: .5rem;
    gap: .5rem;                 
    max-width: 100%;                        
  }

  .drinkWrapper {
    flex: 0 0 calc(50% - .75rem); /* 2 per row */
    min-width: 0;                 /* IMPORTANT: dont force wrapping */
    padding: .75rem;
  }

  .dealsImage {
  width: 100%;
}

  .searchWrapper{
    min-width: 150px;
    padding: 2px 5px;
    width: 50%;
    margin-left: 10px;
  }

  .userInput{
    font-size: 1rem;
  }

}
