.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --colorTop: #f0b4ca;
  --colorBottom: #ff80ae;
  --btnColor1: #ff80ae;
  --fontColor: #35281f;
  --selectedSizeTop: #3f1f47;
  --selectedSizeBottom: #5b2d66;
  --selectedInsetTop: #d46a90;
  --selectedInsetBottom: #ff96cc;
  --fontColorContrast: #ffffff;
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  /* display: grid;
  grid-template-rows: 20px 1fr 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  min-height: 100svh;
  padding-bottom: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background: linear-gradient(to top, var(--colorBottom) 0%, var(--colorTop) 100%);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.sizeBtns {
  height: 40px;
  width: 40px;
  background-color: rgb(245, 152, 189);
  box-shadow: 3px 3px 15px var(--selectedInsetTop),
              3px 3px 15px var(--selectedInsetBottom);
  border: none;
  align-items: center;
  border-radius: 20px;
  transition: all 0.5s ease-in-out; /* ✅ Smooth transition on all properties */
}

.selectedSize {
  height: 50px;
  width: 50px;
  background-color: rgb(245, 152, 189);
  box-shadow: inset 3px 3px 15px var(--selectedInsetTop),
              inset 3px 3px 15px var(--selectedInsetBottom);
  border-radius: 25px;
  border: none;
}

  .qtyContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .qtyBtns {
    background-color: var(--btnColor1);
    box-shadow: 3px 3px 15px var(--selectedInsetTop),
                3px 3px 15px var(--selectedInsetTop);
    border: none;
    align-items: center;
    border-radius: 2rem;
    flex: 1;
    max-width: 2rem;
    max-height: 2rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
  }

  .qtyInput {
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    font-size: 18;
    border-radius: 5;
    padding: 5;
    border: none;
    background-color: transparent;
    color: white;
  }

.drinkImage{
  background-size: contain;
}

.backBtn {
  background-color: rgb(245, 152, 189);
  padding: .625rem;
  position: absolute; 
  top: 1.75rem; 
  left: 1.75rem; 
  border-radius: 2rem;
  z-index: 20;
  border: none;
  color: white;
}

.ratingWrapper {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1.25rem;
    height: 2.5rem;
    display: flex;
    position: relative;
  }
  
.ratingContainer {
  padding: .625rem;
  align-items: center;
  background-color: var(--btnColor1);
  border-radius: .625rem;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  border: none;
}

.ratingContainerHome {
  padding: .35rem;
  align-items: center;
  background-color: var(--btnColor1);
  border-radius: .625rem;
  flex-direction: row-reverse;
  justify-content: center;
  position: absolute !important;
  top: .5rem !important;
  right: .5rem !important;
  border: none;
  display: flex;
  gap: .25rem;
  box-shadow: inset 3px 3px 15px var(--selectedInsetTop),
              inset 3px 3px 15px var(--selectedInsetBottom);
}
  
.ratingText {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
}
  
.hintText {
  color: rgb(0, 0, 0);
  font-size: .625rem;
  font-weight: light;
  font-style: italic;
}

.heading{
  font-size: 1.875rem;
  text-align: center;
  flex: 1;
  flex-grow: 0;
  font-family: var(--font-sourGummy);
}

.profileImage{
  height: 18.75rem;
  /* flex: 1; */
  flex-grow: 0;
}

.vertContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .625rem;
  align-items: center;
  flex: 1;
  flex-grow: 0;
  width: 100%;
}

.itemCheckbox {
  width: 1.5em;
  height: 1.5rem;
  border-radius: 3rem;
  color: var(--colorTop);
}

.preview{ 
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
}

.InventoryHoriz{
  width: 100%;
  padding: .5rem;
  box-shadow: inset 3px 3px 15px var(--selectedInsetTop),
                  inset 3px 3px 15px var(--selectedInsetBottom);
  border-radius: 5px;
}

    .overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgb(255, 166, 181);
      z-index: 999;
      align-items: center;
      max-height: 100%;
      min-height: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 100%;
    }

    .inventoryWrapper {
      padding: 1.8rem 0;
      justify-content: center;
    }
    .userInput {
      border: none;
      padding: .625rem;
      border-radius: 5px;
      margin-bottom: .625rem;
      background-color: var(--colorTop);
      width: 95%;
      box-shadow: inset 3px 3px 15px var(--selectedInsetTop),
                  inset 3px 3px 15px var(--selectedInsetBottom);
      color: var(--fontColor);
    }
    .buttons {
      background-color: rgb(255, 111, 219);
      padding: 10px;
      border-radius: 5px;
      margin-top: 10px;
    }
    .saveText {
      text-align: center;
      font-weight: 300;
      font-size: 1.8rem;
      color: #A134CF;
    }
    .closeButton {
    width: 100%;
    background-color: var(--btnColor1);
    border: none;
    border-radius: 2rem;
    max-width: 2.5;
    max-height: 2.5;
    min-width: 2.5rem;
    min-height: 2.5rem;
    position: relative;
    }
    .imagePickerButton {
      background-color: rgb(255, 111, 219);
      padding: .625rem;
      border-radius: 5px;
      margin-bottom: 10px;
      justify-content: center;
    }
    .imagePreview {
      width: 100%;
      height: 150px;
      background-size: contain;
      border-radius: 10px;
      margin-bottom: 10px;
    }

.userContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: .25rem 1.5rem;
  background-color: rgb(245, 152, 189);
  box-shadow: inset 3px 3px 15px var(--selectedInsetTop),
              inset 3px 3px 15px var(--selectedInsetBottom);
  border-radius: .625rem;
}

.horizContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
}

.optionContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .625rem;
  flex-wrap: wrap;
  max-height: 325px;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: "80%";
}

.btnsSmall{
  padding: 0 .625rem;
  border-radius: 5px;
  background-color: rgb(245, 152, 189);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.875rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  justify-content: center;
  font-size: 1.1rem;
  font-family: var(--font-sourGummy);
  box-shadow: 3px 3px 15px var(--selectedInsetTop),
              3px 3px 15px var(--selectedInsetBottom);
}

.btns{
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 0 1rem;
  border-radius: 5px;
  background-color: rgb(245, 152, 189);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.8rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  justify-content: center;
  font-size: 1.4rem;
  font-family: var(--font-sourGummy);
  box-shadow: 3px 3px 15px var(--selectedInsetTop),
              3px 3px 15px var(--selectedInsetBottom);
}

.popUpScroll{
  overflow-y: auto;
  height: 100%;
}

.popUp{
  height: 100%;
}

.optionBtns{
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: rgb(245, 152, 189);
  border: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  flex: 1;
  min-width: 45%;
  min-height: 2.75rem;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 15px var(--selectedInsetTop),
             3px 3px 15px var(--selectedInsetBottom);
  transition: all 0.5s ease-in-out;
}

.optionBtnsSelected{
  background-color: rgb(245, 152, 189);
  box-shadow: inset 3px 3px 15px var(--selectedInsetTop),
              inset 3px 3px 15px var(--selectedInsetBottom);
  padding: .5rem 1rem;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  flex: 1;
  min-width: 45%;
  min-height: 2.75rem;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnsLabel{
  padding: 0 1rem;
  border-radius: 5px;
  background-color: rgb(245, 152, 189);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.hidden{
display: none;
}

.dealsImage {
  height: 100%;
  width: 100%;
  max-width: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 86, 151);
  z-index: 999;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.navItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: white;
}

.navText {
  font-size: .875rem;
  margin-top: .25rem;
  font-weight: 500;
  font-family: var(--font-sourGummy);
}

.badge {
  position: absolute;
  top: 0;
  right: 30%;
  background-color: white;
  color: hotpink;
  border-radius: 12px;
  font-size: .625rem;
  padding: .25rem .5rem;
  font-weight: bold;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .8rem;
  padding: .625rem;
}

.drinkWrapper {
  background-color: var(--colorTop);
  box-shadow: 3px 3px 15px var(--selectedInsetTop),
             3px 3px 15px var(--selectedInsetBottom);
  border-radius: 10px;
  /* border: 2px dashed rgb(236, 195, 11); */
  padding: .8rem;
  width: 48%;
  max-width: 12rem;
  position: relative;
  cursor: pointer;
}

.drinkWrapper img {
  width: 125px;
  height: 125px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.drinkContent,
.drinkDetails {
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--fontColorContrast);
}

.drinkDetailsPrice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  color: var(--fontColorContrast);
}

.drinkName {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--font-sourGummy);
  color: var(--fontColor);
  text-align: center;
}

.inventoryWrapper {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  border-bottom: 1px dashed black;
  padding: .625rem 1.875rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: .625rem;
  border-bottom: 1px dashed black;
  padding-bottom: .625rem;
  align-items: center;
}

.cartDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.itemName {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-sourGummy);
  color: var(--fontColor);
  text-align: center;
}

.itemNameCart {
  font-size: 12px;
  font-weight: bold;
  color: var(--fontColor);
  text-align: left;
}

.itemDetails {
  font-size: 10px;
  color: var(--fontColor);
  font-style: italic;
}

.ingrediantsInventory {
  color: white;
  text-align: left;
  font-size: .625rem;
}

.ingrediants {
  color: white;
  font-family: var(--font-quicksand);
  text-align: center;
  font-size: .875rem;
  margin-top: 5px;
}

.ratingContainer {
  position: absolute;
  top: .5rem;
  right: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.ratingText {
  color: white;
  font-size: .75rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  background-color: rgb(250, 191, 212);
  margin-bottom: 60px;
}

.backgroundImg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  z-index: 60;
  overflow-x: auto;
  height: 4.5rem;
  padding: .5rem 1rem;
}

.categoryButton {
  padding: 0 1.25em;
  border-radius: .25em;
  background-color: rgb(245, 152, 189);
  box-shadow: 3px 3px 5px var(--selectedInsetTop),
              3px 3px 5px var(--selectedInsetBottom);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-quicksand);
  white-space: nowrap;
  color: white;
}

.categoryButtonSelected {
  background-color: rgb(245, 152, 189);
  box-shadow: inset 3px 3px 15px var(--selectedInsetTop),
              inset 3px 3px 15px var(--selectedInsetTop);
}

.categoryText {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-family: var(--font-quicksand);
  font-weight: 100;
  text-align: center;
}

.selectedCategoryText {
  font-weight: 400;
  color: rgb(255, 255, 255);
}


.price {
  color: rgb(172, 232, 240);
  text-align: center;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-row-start: 2;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 15px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
